body {
  margin: 0;
  
  /* color: white; */
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
}

a {
  text-decoration: none;
  color: inherit;
  /* padding: 1rem 2rem; */
  /* border-radius: 1.7rem; */
  /* border:2px solid white; */
  display: inline-block;
}

.card-container {
  color: white;
  display: flex;
  overflow: hidden;
  margin: 1.5rem;
  max-width: 910px;
  border-radius: 16px;
}

.card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* flex-basis: 100%; */
}

.card a {
  padding: 1rem 2em;
  display:flex;
  border: 2px solid white;
  align-self: start;
  border-radius: 2em;
}

.card img {
  width: 64px;
  height: 40px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  /* border-radius: 12px 12px 0 0; */
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  /* border-radius: 0 0 12px 12px; */
}

h2 {
  font-family: "Lexend Deca";
  text-transform: uppercase;
}

div p {
  font-family: "Big Shoulders Display", sans-serif;
  opacity: 0.7;
  line-height: 2;
}

@media (max-width: 850px) {
  .card-container {
      flex-direction: column;
      max-width: 400px;
  }
  
  .card {
      width: unset;
      width: auto;
  }
}
